.s-product-slider {
    position: relative;
    padding: 125px 0;
    
    @include md-block() {
        padding-top:0;
        padding-bottom: 30px;
    }

    a {
        display: block;
    }
}

.product-item {
    text-align: center;
    
    // .product-item__body
    
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        height: 100%;
        min-height: 520px;
        font-size: 14px;
    }

    // .product-item__img

    &__img {
        img {
            width: 100%;
        }
    }

    // .product-item__title

    &__title {
        margin-bottom: 5px;
        font-weight: 500;
        line-height: 22px;

        color: #212121;
    }

    // .product-item__descr

    &__descr {
        line-height: 22px;

        color: #666666;
    }
}
