.s-copyright {
    padding: 15px 0;
    font-size: 15px;

    color: #cccccc;

    background-color: #252525;

    a {
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }
}
