.p-gifts {
    .p-gifts__top-block {
        padding-bottom: 60px;
        background-color: #f6f5e8;
    }

    .p-gifts__download {
        padding-top: 50px;
    }
}

.p-gifts-wrapper {
    background-color: #f6f5e8;
}
