.p-ourstory {
    background-color: #ede1d5;

    &__second-header {
        position: relative;
        height: 100vh;
        padding-top: 120px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @include md-block() {
            padding-top: 60px;
        }
    }

    &__main-text {
        position: absolute;
        top: 120px;
        left: 50%;

        text-align: center;

        transform: translateX(-50%);

        @include md-block {
            width: 100%;
            padding: 0 15px;
        }
    }

    &__small-title {
        margin-bottom: 30px;
        font-weight: 500;
        line-height: 27px;
    }

    &__big-title {
        margin-bottom: 24px;
        font-family: "Forum";
        font-size: 30px;
        line-height: 40px;

        @include md-block {
            line-height: 30px;
        }
    }

    &__btn {
        width: 60px;
        height: 60px;
        border: 1px solid #fffef2;

        transition: $base-transition;

        cursor: pointer;

        &:hover {
            background-color: rgba(51, 51, 51, 0.746);
            border: 1px solid #333;
        }
    }

    &__main-body {
        background-color: #ede1d5;

        .s-header {
            background-color: #fffef2;
        }
    }

    &__footer {
        .s-footer {
            background-color: #ede1d5;
        }
    }

    .s-phrase {
        max-width: 900px;
        margin: 0 auto;
        padding: 120px 0;

        @include md-block() {
            padding: 60px 0;
        }

         a {
             font-size: 14px;
             color: #333;
         }
    }
}

.p-ourstory-history {
    padding: 120px 0;

    @include md-block() {
        padding: 60px 0;
    }

    &__body {
        @include row-flex();
    }

    &__col-6 {
        @include col();
        @include size(6);
        @include size-md(12);

        padding: 0 15px;

        @include md-block() {
            padding-top: 60px;
        }

        &:first-child {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            border-right: 1px solid #d5cabf;

            @include md-block() {
                border: none;
            }
        }
    }

    &__content {
        max-width: 630px;
    }

    &__title {
        margin-bottom: 92px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    }

    &__text {
        margin-bottom: 77px;
        line-height: 27px;
    }

    &__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;

        color: #333;
    }

    &__img {
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            max-width: 640px;
        }
    }

    &--reverse {
        .p-ourstory-history__body {
            flex-direction: row-reverse;
        }

        .p-ourstory-history__col-6 {
            &:first-child {
                border-right: none;
            }
            
            &:last-child {
                border-right: 1px solid #d5cabf;

                @include md-block() {
                    border: none;
                }
            }

            
        }
    }
}
