/* Normalize */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  vertical-align: top;
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}

/* End Normalize */

/* Swiper */

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

/* 3D Effects */

.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

/* End Swiper */

/* Fonts */

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Forum";
  font-display: swap;
  src: url("../fonts/Forum-Regular.woff") format("woff"), url("../fonts/Forum-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* End Fonts */

/* Typography */

body {
  font-family: "Roboto";
  font-size: 16px;
  color: #333;
}

/* End Typography */

/* Base styles */

.main-body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  background-color: #fffff2;
}

.main-body--checkout {
  background-color: #f6f5e8;
}

.main-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.base-row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.base-col-5 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66667% - 30px);
}

.base-col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

.base-col-7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(58.33333% - 30px);
}

.base-text p {
  margin-bottom: 26px;
  line-height: 27px;
}

.top-title {
  max-width: 775px;
}

.top-title h1 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.swiper-container {
  margin: 0 80px;
  padding-bottom: 40px;
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  z-index: 50;
  bottom: 0;
  width: 100%;
  height: 2px;
}

.swiper-scrollbar {
  position: relative;
  background: #ccc;
}

.swiper-scrollbar-drag {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  z-index: 16;
  top: calc(50% - 40px);
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
  height: 80px;
  background-color: #333333;
  cursor: pointer;
}

.swiper-button-prev {
  right: auto;
  left: 0;
}

.swiper-button-prev svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.hero-btn {
  position: relative;
  padding: 22px 24px;
  padding-right: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  border: 1px solid rgba(51, 51, 51, 0.2);
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.hero-btn::after {
  content: url("../img/svg/arrow-right.svg");
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hero-btn:hover {
  color: #ffffff;
  background: #333333;
}

.hero-btn:hover::after {
  content: url("../img/svg/arrow-right-white.svg");
}

.second-header {
  padding-top: 150px;
  padding-bottom: 24px;
}

.second-header__logo {
  margin-bottom: 40px;
}

/* End Base styles */

/* MAIN STYLES */

.s-header {
  position: relative;
  z-index: 5;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.s-header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu__item {
  margin-right: 25px;
}

.main-menu__item:last-child {
  margin-right: 0;
}

.main-menu__item a {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: #333;
}

.login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-btn {
  margin-right: 25px;
  font-weight: inherit;
  font-size: inherit;
}

.burger-menu {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.burger-menu__close {
  position: absolute;
  z-index: 1000;
  top: 30px;
  right: 30px;
  padding: 15px;
  cursor: pointer;
}

.burger-menu__body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.burger-menu__main-item {
  word-wrap: break-word;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(33.33333% - 30px);
  width: 33.333333%;
  height: 100%;
  padding: 40px;
  background: #fffef2;
  border-right: 1px solid #dfdfd4;
}

.burger-menu__item-second {
  padding: 8px 0;
  font-size: 18px;
  color: #333;
}

.burger-menu__item-second a {
  color: inherit;
}

.burger-menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.burger-menu__link img {
  width: 100px;
  height: auto;
  border: 1px solid #000;
}

.burger-menu .main-menu {
  margin-bottom: 140px;
}

.burger-menu__logo {
  margin-bottom: 40px;
}

.burger-menu__item {
  font-size: 26px;
  line-height: 40px;
}

.burger-menu__item a {
  position: relative;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.burger-menu__item--link {
  margin-bottom: 70px;
  font-size: 26px;
  color: #333;
}

.burger-menu .burger-menu__main-item--1 {
  position: relative;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger-menu .burger-menu__main-item--2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-menu__line {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 3px;
  background-color: #333;
  cursor: pointer;
}

.main-menu__line::before,
.main-menu__line::after {
  content: "";
  position: absolute;
  left: 0;
  width: inherit;
  height: inherit;
  background-color: inherit;
}

.main-menu__line::before {
  top: -6px;
}

.main-menu__line::after {
  top: 6px;
}

.language-form {
  margin-right: 30px;
  background: transparent;
}

.language-form select {
  background: transparent;
  border: transparent;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.s-hero {
  height: 917px;
  margin-top: -87px;
  padding-top: 187px;
  background: url("../img/hero-bg.jpg") right center no-repeat;
  background-position-x: left;
  background-size: cover;
}

.s-hero__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.s-hero__logo {
  margin-right: 120px;
}

.s-hero__text {
  max-width: 430px;
}

.s-hero__small-descr {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.s-hero__main-title {
  margin-bottom: 37px;
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

.s-hero__descr {
  margin-bottom: 26px;
  font-size: 16px;
  line-height: 27px;
}

.logo {
  width: 100px;
  height: 32px;
}

.logo img {
  width: inherit;
  height: inherit;
}

.s-product-slider {
  position: relative;
  padding: 125px 0;
}

.s-product-slider a {
  display: block;
}

.product-item {
  text-align: center;
}

.product-item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  min-height: 520px;
  font-size: 14px;
}

.product-item__img img {
  width: 100%;
}

.product-item__title {
  margin-bottom: 5px;
  font-weight: 500;
  line-height: 22px;
  color: #212121;
}

.product-item__descr {
  line-height: 22px;
  color: #666666;
}

.s-promo {
  padding: 125px 0;
}

.s-promo__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.s-promo__col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66667% - 30px);
}

.s-promo__col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(58.33333% - 30px);
  margin-right: 0;
}

.s-promo__body {
  max-width: 550px;
  padding-left: 65px;
}

.s-promo__smal-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}

.s-promo__title {
  margin-bottom: 33px;
  font-family: "Forum";
  font-size: 27px;
  line-height: 40px;
}

.s-promo__descr {
  margin-bottom: 26px;
  line-height: 27px;
}

.s-promo__img img {
  width: 100%;
}

.s-phrase {
  padding: 150px 0;
  text-align: center;
}

.s-phrase__text {
  margin-bottom: 20px;
  font-family: "Forum";
  font-size: 28px;
  line-height: 40px;
}

.s-phrase__author {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}

.s-footer {
  padding: 20px 0 70px;
  background-color: #fffff2;
  border-top: 1px solid rgba(51, 51, 51, 0.2);
}

.s-footer__menu-title {
  margin-bottom: 30px;
  font-size: 14px;
  color: #666666;
}

.s-footer__menu {
  font-weight: 500;
  font-size: 14px;
}

.s-footer__menu--social .s-footer__item a {
  position: relative;
  padding-right: 22px;
}

.s-footer__menu--social .s-footer__item a::after {
  position: absolute;
  top: 0;
  right: 0;
  content: url("../img/svg/arrow-top-right.svg");
}

.s-footer__item {
  margin-bottom: 15px;
}

.s-footer__item a {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.s-footer__item a:hover {
  color: #000;
}

.s-footer form {
  width: 70%;
  margin-top: 30px;
}

.s-footer input {
  margin-bottom: 35px !important;
  background-color: transparent;
}

.s-footer .hero-btn {
  padding-top: 12px;
  padding-bottom: 12px;
}

.s-footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.s-footer-row__col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(41.66667% - 30px);
}

.s-footer-row__col-3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(19.44444% - 30px);
}

.s-copyright {
  padding: 15px 0;
  font-size: 12px;
  color: #cccccc;
  background-color: #252525;
}

.s-copyright a {
  color: #fff;
}

.s-copyright a:hover {
  text-decoration: underline;
}

.s-product-instruction {
  background-color: #f6f5e8;
}

.s-product-instruction__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-right: 0;
}

.s-product-instruction__col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
}

.s-product-instruction__col-6--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-product-instruction__img {
  display: block;
  width: 100%;
}

.s-product-instruction__body {
  max-width: 640px;
}

.s-product-instruction__title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
}

.s-product-instruction__text {
  padding-bottom: 30px;
  font-family: "Forum";
  font-size: 30px;
  line-height: 40px;
  border-bottom: 2px solid #333333;
}

.s-product-instruction__descr {
  padding: 15px 0;
  font-size: 14px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.s-product-instruction__descr:last-child {
  border-bottom: transparent;
}

.s-product-instruction__descr h4 {
  font-weight: 500;
  line-height: 24px;
}

.s-product-instruction__descr p {
  line-height: 24px;
  color: #666666;
}

.s-product-description {
  padding-bottom: 100px;
}

.s-product-description__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.s-product-description__col-4 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(33.33333% - 30px);
}

.s-product-description__img {
  text-align: center;
}

.s-product-description__img img {
  max-width: 600px;
}

.s-product-description__img label {
  position: relative;
  padding-left: 30px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.s-product-description__img input {
  position: absolute;
  top: -1px;
  left: 9px;
}

.s-product-description__text {
  max-width: 470px;
}

.s-product-description__small-descr {
  padding-bottom: 17px;
  font-size: 14px;
  line-height: 24px;
  border-bottom: 2px solid #333;
}

.s-product-description__breadcrumbs {
  margin-bottom: 27px;
}

.s-product-description__title {
  margin-bottom: 20px;
  font-size: 29px;
  line-height: 40px;
  letter-spacing: 0.375px;
}

.s-product-description__char {
  padding: 15px 0;
  font-size: 14px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.s-product-description__char h3 {
  margin-bottom: 4px;
  font-weight: 500;
}

.s-product-description__char p {
  color: #666666;
}

.s-product-description__char:last-child {
  border-bottom: transparent;
}

.s-product-description__btn {
  width: 100%;
  padding: 22px;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #fffef2;
  background-color: #333;
  border: 1px solid #333;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.s-product-description__btn:hover {
  color: #333;
  background-color: #fffef2;
}

.s-cart-header {
  padding: 22px 0;
  font-weight: 500;
  color: #fff;
  background-color: #252525;
}

.s-cart-header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.s-cart-header__cart {
  position: relative;
  color: #bcbbb4;
}

.s-cart-header__cart p {
  display: inline-block;
  padding-right: 20px;
}

.s-cart-header__cart p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 17px;
  background: url("../../img/svg/cart-img.svg") center no-repeat;
}

.s-cart-header__cart span {
  position: absolute;
  top: 4px;
  right: 6px;
  font-size: 10px;
  color: #252525;
}

.s-cart-header__price {
  font-size: 23px;
}

.s-checkout {
  padding: 150px 0;
}

.s-checkout__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-checkout__col-2,
.s-checkout__col-3,
.s-checkout__col-7 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}

.s-checkout__col-2 {
  width: calc(16.66667% - 30px);
}

.s-checkout__col-3 {
  width: calc(25% - 30px);
}

.s-checkout__col-7 {
  width: calc(58.33333% - 30px);
}

.s-checkout__title {
  margin-bottom: 65px;
  font-size: 30px;
}

.s-checkout__small-title {
  margin-bottom: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.s-checkout-form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.s-checkout-form__col-3,
.s-checkout-form__col-4,
.s-checkout-form__col-6,
.s-checkout-form__col-8,
.s-checkout-form__col-12 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}

.s-checkout-form__col-3 {
  width: calc(25% - 30px);
}

.s-checkout-form__col-4 {
  width: calc(37.5% - 30px);
}

.s-checkout-form__col-6 {
  width: calc(50% - 30px);
}

.s-checkout-form__col-8 {
  width: calc(62.5% - 30px);
}

.s-checkout-form__col-12 {
  width: calc(100% - 30px);
}

.s-checkout-form__input-wrapper {
  position: relative;
}

.s-checkout-form__input-label {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
  font-size: 22px;
  color: #666;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.s-checkout-form__input {
  position: relative;
  z-index: 20;
  width: 100%;
  margin-bottom: 65px;
  padding: 10px;
  font-size: 22px;
  line-height: 28px;
  color: #333333;
  background: transparent;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
}

.s-checkout-form__btn {
  padding: 19px 30px;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  background-color: #999;
  border: 1px solid #999;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.s-checkout-form__btn:hover {
  color: #999;
  background-color: transparent;
}

.s-checkout-form__select-label {
  display: block;
  margin-top: -22px;
  padding-bottom: 24px;
  color: #666666;
}

.s-checkout-form__select {
  width: 100%;
  padding-top: 11px;
  padding-left: 8px;
  padding-bottom: 10px;
  font-size: 22px;
  color: #333333;
  background: transparent;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
}

.s-checkout-form__label--top {
  top: -20px !important;
  font-size: 16px !important;
}

.s-checkout-form .mb-65 {
  margin-bottom: 65px;
}

.s-checkout-form__check-label {
  position: relative;
  display: block;
  padding: 30px;
  background: #EBEADE;
  cursor: pointer;
}

.s-checkout-form__check-label input {
  position: absolute;
  top: 37px;
  right: 30px;
}

.s-checkout-form__check-label p {
  margin-bottom: 10px;
  font-size: 14px;
  color: #666666;
}

.s-checkout-form__check-label--toggleBg {
  background: #FFFEF2;
}

.check-label__title {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 24px;
  color: #333333;
}

.check-label__price {
  font-weight: 500;
  font-size: 14px;
  color: #333333;
}

.shipping-detail {
  margin-bottom: 250px;
}

.shipping-detail__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 65px;
}

.shipping-detail__title h4 {
  font-weight: 400;
  font-size: 30px;
}

.shipping-detail__title a {
  font-size: 14px;
  color: #666666;
}

.shipping-detail p {
  font-size: 24px;
  color: #666666;
}

.order-details {
  padding: 40px;
  color: #333;
  background: #FFFEF2;
}

.order-details__title {
  margin-bottom: 40px;
  font-size: 24px;
  font-style: normal;
}

.order-details__list {
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.order-details__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.order-details__product p {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 15px;
}

.order-details__product span {
  font-weight: 400;
  color: #666666;
}

.order-details__price {
  font-weight: 500;
  font-size: 20px;
}

.order-details__summ {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
}

.summ__title {
  font-weight: 500;
  font-size: 15px;
}

.summ__price {
  font-weight: 500;
  font-size: 20px;
}

.credit-checkbox__title {
  margin-bottom: 35px;
  font-size: 30px;
}

.credit-checkbox span {
  margin-right: 15px;
}

.credit-checkbox span:last-child input {
  margin-right: 10px;
}

.credit-checkbox svg {
  position: relative;
  top: 3px;
  margin-left: 10px;
}

.show-courier,
.show-post {
  display: none;
}

.s-cart {
  position: relative;
  z-index: 500;
  display: none;
  overflow: hidden;
  color: #bcbbb4;
  background-color: #252525;
}

.s-cart__body {
  padding: 40px 0;
}

.s-cart__body-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #bcbbb4;
  border-bottom: 1px solid rgba(255, 254, 242, 0.1);
}

.s-cart__body-row--title {
  font-weight: 500;
  font-size: 15px;
}

.s-cart__body-col {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(25% - 30px);
  padding: 26px 0;
}

.s-cart__body-col .name {
  color: #ffffff;
}

.s-cart__body-col .remove {
  font-size: 13px;
  color: #bcbbb4;
  cursor: pointer;
}

.s-cart__body-col--price {
  text-align: end;
}

.s-cart__body-col form {
  display: inline-block;
  margin-right: 30px;
}

.s-cart__body-col form select {
  color: #fff;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.s-cart__body-col form option {
  color: #333;
}

.s-cart__close {
  position: absolute;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

.s-cart__body-btn-wrapper {
  max-width: 645px;
  margin-top: 54px;
  margin-left: auto;
}

.s-cart__body-btn-wrapper p {
  font-size: 15px;
  line-height: 18px;
  color: #bcbbb4;
}

.s-cart__body-btn-wrapper span {
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
}

.s-cart__body-btn-wrapper .btn {
  width: 100%;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #ffffff;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.s-cart__body-btn-wrapper .btn:hover {
  color: #ffffff;
  background: transparent;
}

.s-cart__body-btn-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 28px 0;
}

.s-delivery {
  position: fixed;
  z-index: 600;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.s-delivery__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
  padding: 0 187px;
  background-color: #ffffff;
}

.s-delivery__close {
  position: absolute;
  top: 50px;
  right: 50px;
  padding: 15px;
  cursor: pointer;
}

.s-delivery__body-wrapper {
  overflow-y: auto;
  width: 500px;
  padding: 0 30px;
}

.s-delivery__title,
.s-delivery h4 {
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  border-bottom: 1px solid #c4c4c4;
}

.s-delivery h4 {
  border: none;
}

.s-delivery__text {
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid #c4c4c4;
}

.s-delivery__text p {
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.s-delivery__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-catalog .swiper-container {
  margin: 0;
}

.p-catalog__title {
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 28px;
}

.p-catalog__filter {
  padding: 47px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  background-color: #ebeade;
}

.p-catalog__filter span {
  display: inline-block;
  margin: 0 6px;
}

.p-catalog__filter a {
  display: inline-block;
  margin: 0 5px;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.p-catalog__filter a:first-child {
  margin-left: 0;
}

.p-catalog__filter a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.p-catalog__slider-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-right: 0;
  background-color: #F6F5E8;
}

.p-catalog__slider-body:nth-child(2n) {
  background-color: #EBEADE;
}

.p-catalog__text,
.p-catalog__slider {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
}

.p-catalog__text {
  width: calc(25% - 30px);
}

.p-catalog__slider {
  width: calc(75% - 30px);
}

.p-catalog__text-body {
  max-width: 350px;
  padding: 50px 40px;
  padding-top: 150px;
  color: #252525;
}

.p-catalog__text-body h2 {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.p-catalog__text-body p {
  margin-bottom: 47px;
  line-height: 26px;
}

.p-catalog__text-body a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: inherit;
}

.p-ourstory {
  background-color: #ede1d5;
}

.p-ourstory__second-header {
  position: relative;
  height: 100vh;
  padding-top: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.p-ourstory__main-text {
  position: absolute;
  top: 120px;
  left: 50%;
  text-align: center;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.p-ourstory__small-title {
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 27px;
}

.p-ourstory__big-title {
  margin-bottom: 24px;
  font-family: "Forum";
  font-size: 30px;
  line-height: 40px;
}

.p-ourstory__btn {
  width: 60px;
  height: 60px;
  border: 1px solid #fffef2;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}

.p-ourstory__btn:hover {
  background-color: rgba(51, 51, 51, 0.746);
  border: 1px solid #333;
}

.p-ourstory__main-body {
  background-color: #ede1d5;
}

.p-ourstory__main-body .s-header {
  background-color: #fffef2;
}

.p-ourstory__footer .s-footer {
  background-color: #ede1d5;
}

.p-ourstory .s-phrase {
  max-width: 900px;
  margin: 0 auto;
  padding: 120px 0;
}

.p-ourstory .s-phrase a {
  font-size: 14px;
  color: #333;
}

.p-ourstory__swiper-container {
  position: relative;
  overflow: hidden;
  height: 90vh;
}

.p-ourstory__swiper-container .swiper-scrollbar {
  margin-top: 20px;
}

.p-ourstory__swiper-container img {
  width: 100%;
  height: 88vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-ourstory-history {
  padding: 120px 0;
}

.p-ourstory-history__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.p-ourstory-history__col-6 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  margin-left: 15px;
  margin-right: 15px;
  width: calc(50% - 30px);
  padding: 0 15px;
}

.p-ourstory-history__col-6:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #d5cabf;
}

.p-ourstory-history__content {
  max-width: 630px;
}

.p-ourstory-history__title {
  margin-bottom: 92px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.p-ourstory-history__text {
  margin-bottom: 77px;
  line-height: 27px;
}

.p-ourstory-history__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #333;
}

.p-ourstory-history__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.p-ourstory-history__img img {
  width: 100%;
  max-width: 640px;
}

.p-ourstory-history--reverse .p-ourstory-history__body {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.p-ourstory-history--reverse .p-ourstory-history__col-6:first-child {
  border-right: none;
}

.p-ourstory-history--reverse .p-ourstory-history__col-6:last-child {
  border-right: 1px solid #d5cabf;
}

.p-careers__top-block {
  padding-top: 140px;
  padding-bottom: 80px;
}

.p-careers h3 {
  margin-bottom: 26px;
  font-weight: 500;
  line-height: 19px;
}

.p-careers p {
  margin-bottom: 26px;
  line-height: 27px;
}

.p-careers img {
  width: 100%;
}

.p-careers .img-descr {
  padding: 30px 10px;
  font-size: 14px;
  line-height: 25px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
}

.p-careers .img-descr p {
  margin-bottom: 0;
}

.p-careers__right-text {
  max-width: 1000px;
  margin-left: auto;
  padding: 100px 0;
  padding-right: 300px;
}

.p-careers__accordeon {
  padding-top: 80px;
}

.p-careers__accordeon-text {
  max-width: 768px;
  margin-bottom: 136px;
}

.p-careers__images .img-descr {
  padding-right: 0;
  padding-left: 0;
  border-bottom: none;
}

.p-careers .forum-title {
  max-width: 524px;
  margin-bottom: 23px;
  font-family: "Forum";
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
}

.p-careers .s-phrase a {
  font-size: 14px;
  color: #333;
}

.accordeon {
  max-width: 920px;
}

.accordeon__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 24px;
  line-height: 42px;
}

.accordeon__descr {
  margin-bottom: 29px;
  line-height: 27px;
}

.accordeon__content-title {
  position: relative;
  margin-bottom: 19px;
  font-weight: 500;
  line-height: 27px;
  cursor: pointer;
}

.accordeon__content-title span {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  font-weight: 400;
  font-size: 14px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.accordeon__content-title:hover span {
  opacity: 1;
}

.accordeon__text {
  display: none;
}

.p-gifts__top-block {
  padding-top: 120px;
  padding-bottom: 80px;
}

.p-gifts img {
  width: 100%;
}

.p-gifts__download {
  padding-top: 120px;
}

.p-gifts__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
}

.p-gifts__item {
  margin-bottom: 25px;
}

.p-gifts a {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

.p-gifts a:hover {
  color: #333;
}

.p-gifts .base-text {
  max-width: 768px;
}

.p-gifts .p-gifts__top-block {
  padding-bottom: 60px;
  background-color: #f6f5e8;
}

.p-gifts .p-gifts__download {
  padding-top: 50px;
}

.p-gifts-wrapper {
  background-color: #f6f5e8;
}

/* END MAIN STYLES */

@media screen and (max-width: 1200px) {
  .s-checkout__col-2 {
    width: calc(100% - 30px);
  }

  .s-checkout__col-2 {
    margin-bottom: 65px;
  }

  .s-checkout__col-3 {
    width: calc(41.66667% - 30px);
  }

  .s-checkout__col-7 {
    width: calc(58.33333% - 30px);
  }

  .p-catalog__text {
    width: calc(33.33333% - 30px);
  }

  .p-catalog__slider {
    width: calc(66.66667% - 30px);
  }
}

@media screen and (max-width: 992px) {
  .s-promo__col-4 {
    width: calc(100% - 30px);
  }

  .s-promo__col-6 {
    width: calc(100% - 30px);
  }

  .s-promo__body {
    margin: 0 65px;
    padding: 0;
  }

  .s-promo__img {
    margin: 0 65px;
    margin-top: 50px;
  }

  .s-footer form {
    width: 50%;
    margin-bottom: 30px;
  }

  .s-footer-row__col-6 {
    width: calc(100% - 30px);
  }

  .s-footer-row__col-6 {
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  }

  .s-footer-row__col-3 {
    width: calc(33.33333% - 30px);
  }

  .s-product-instruction {
    margin: 30px 0;
  }

  .s-product-instruction__col-6 {
    width: calc(100% - 30px);
  }

  .s-product-instruction__col-6--flex {
    padding: 70px 0;
    padding-right: 25px;
    padding-left: 40px;
  }

  .s-product-instruction__img {
    display: none;
  }

  .s-product-description__col-4 {
    width: calc(50% - 30px);
  }

  .s-product-description__col-4--logo {
    width: 100%;
    margin-bottom: 30px;
  }

  .s-delivery__body {
    width: 70%;
  }

  .p-catalog__text {
    width: calc(100% - 30px);
  }

  .p-catalog__slider {
    width: calc(100% - 30px);
  }

  .p-catalog__text-body {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .base-col-5 {
    width: calc(100% - 30px);
  }

  .base-col-6 {
    width: calc(100% - 30px);
  }

  .base-col-7 {
    width: calc(100% - 30px);
  }

  .swiper-container {
    margin: 0 20px;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .burger-menu__main-item {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .s-hero {
    height: auto;
    padding-top: 87px;
    padding-bottom: 60px;
  }

  .s-hero__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .s-hero__logo {
    margin-bottom: 40px;
  }

  .s-hero__small-descr {
    margin-bottom: 0;
  }

  .s-product-slider {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .s-promo {
    padding: 30px 0;
  }

  .s-phrase {
    padding: 30px 0;
  }

  .s-product-description__col-4 {
    width: calc(100% - 30px);
  }

  .s-product-description__col-4 {
    margin-bottom: 30px;
  }

  .s-product-description__img img {
    width: 100%;
  }

  .s-product-description__text {
    margin: 0 auto;
  }

  .s-checkout__col-3 {
    width: calc(100% - 30px);
  }

  .s-checkout__col-3 {
    margin-top: 65px;
  }

  .s-checkout__col-7 {
    width: calc(100% - 30px);
  }

  .s-checkout-form__col-3 {
    width: calc(100% - 30px);
  }

  .s-checkout-form__col-3 {
    margin-bottom: 65px;
  }

  .s-checkout-form__col-4 {
    width: calc(100% - 30px);
  }

  .s-checkout-form__col-6 {
    width: calc(100% - 30px);
  }

  .s-checkout-form__col-8 {
    width: calc(100% - 30px);
  }

  .s-checkout-form__col-8 {
    margin-top: 65px;
  }

  .s-checkout-form__col-12 {
    margin-top: 65px;
  }

  .s-delivery__body {
    width: 100%;
  }

  .s-delivery__body-wrapper {
    width: 320px;
    padding: 0;
  }

  .p-ourstory__second-header {
    padding-top: 60px;
  }

  .p-ourstory__main-text {
    width: 100%;
    padding: 0 15px;
  }

  .p-ourstory__big-title {
    line-height: 30px;
  }

  .p-ourstory .s-phrase {
    padding: 60px 0;
  }

  .p-ourstory-history {
    padding: 60px 0;
  }

  .p-ourstory-history__col-6 {
    width: calc(100% - 30px);
  }

  .p-ourstory-history__col-6 {
    padding-top: 60px;
  }

  .p-ourstory-history__col-6:first-child {
    border: none;
  }

  .p-ourstory-history--reverse .p-ourstory-history__col-6:last-child {
    border: none;
  }

  .p-careers__top-block {
    padding-top: 30px;
  }

  .p-careers__logo {
    margin-bottom: 40px;
  }

  .p-careers__btn {
    width: 100%;
  }

  .p-careers__btn--margin {
    margin-bottom: 50px;
  }

  .p-careers__right-text {
    width: 100%;
    margin: 0;
    padding: 40px 0;
  }

  .p-careers__accordeon-text {
    margin-bottom: 60px;
  }

  .p-gifts__logo {
    margin-bottom: 40px;
  }

  .p-gifts__top-block {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .p-gifts__download {
    padding-top: 60px;
  }
}

@media screen and (max-width: 576px) {
  .s-hero__btn {
    width: 100%;
  }

  .s-promo__body {
    margin: 0 15px;
    padding: 0;
  }

  .s-promo__btn {
    width: 100%;
  }

  .s-promo__img {
    margin: 0 15px;
    margin-top: 30px;
  }

  .s-footer {
    padding-bottom: 0px;
  }

  .s-footer__menu-title {
    margin-bottom: 15px;
  }

  .s-footer__menu {
    margin-bottom: 40px;
  }

  .s-footer form {
    width: 100%;
  }

  .s-footer-row__col-3 {
    width: calc(100% - 30px);
  }

  .s-checkout {
    padding: 60px 0;
  }

  .s-checkout-form__input {
    font-size: 16px;
  }

  .s-checkout-form__btn {
    width: 100%;
  }

  .credit-checkbox span {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .accordeon__content-title span {
    display: none !important;
    opacity: 0;
  }
}