.main-body {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #fffff2;

    &--checkout {
        background-color: #f6f5e8;
    }
}

.main-content {
    flex: 1 1 auto;
}

.container {
    @include container();
}

.base-row-flex {
    @include row-flex();
}

.base-col-5{
    @include col();
    @include size(5);
    @include size-md(12);
}

.base-col-6{
    @include col();
    @include size(6);
    @include size-md(12);
}

.base-col-7{
    @include col();
    @include size(7);
    @include size-md(12);
}

.base-text {
    p {
        margin-bottom: 26px;
        line-height: 27px;
    }
}


.top-title {
    max-width: 775px;
    h1 {
        margin-bottom: 20px;
        font-weight: 400;
        font-size: 30px;
        line-height: 40px;
    }
}


.swiper-container {
    // position: relative;
    // z-index: 4;
    margin: 0 80px;
    padding-bottom: 40px;

    @include md-block() {
        margin: 0 20px;
    }
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    z-index: 50;
    bottom: 0;
    width: 100%;
    height: 2px;
}
.swiper-scrollbar {
    position: relative;
    background: #ccc;
}

.swiper-scrollbar-drag {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    z-index: 16;
    top: calc(50% - 40px);
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #333333;
    cursor: pointer;

    @include md-block() {
        display: none;
    }
}

.swiper-button-prev {
    right: auto;
    left: 0;
    svg {
        transform: rotate(180deg);
    }
}

.hero-btn {
    position: relative;
    padding: 22px 24px;
    padding-right: 60px;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;

    border: 1px solid rgba(51, 51, 51, 0.2);
    transition: $base-transition;

    &::after {
        content: url("../img/svg/arrow-right.svg");
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    &:hover {
        color: #ffffff;
        background: #333333;
    }

    &:hover::after {
        content: url("../img/svg/arrow-right-white.svg");
    }
}

.second-header {
    padding-top: 150px;
    padding-bottom: 24px;

    &__logo {
        margin-bottom: 40px;
    }
}
