.login-modal {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.24);

    // .login-modal__body

    &__body {
        position: relative;
        width: 100%;
        max-width: 550px;
        margin: 0 10px;
        padding: 42px;
        background-color: #fff;
    }

    // .login-modal__close

    &__close {
        position: relative;
        left: calc(100% - 42px);
        display: inline-block;
        margin-bottom: 18px;
        padding: 15px;
        cursor: pointer;
    }

    // .login-modal__title

    &__title {
        margin-bottom: 10px;
        font-size: 24px;
        line-height: 28px;

        color: #252525;
    }

    // .login-modal__descr

    &__descr {
        margin-bottom: 65px;
        font-size: 16px;
        line-height: 19px;

        color: #666666;
    }

    form {
        button {
            width: 100%;
            padding: 20px;
            font-weight: 500;
            font-size: 14px;

            color: #fff;

            background-color: #999;
        }
    }

    &__input-email {
        position: relative;

        label {
            position: absolute;
            z-index: 10;
            top: 10px;
            left: 10px;

            font-size: 24px;
            line-height: 28px;

            color: #333333;
            transition: 0.2s;
        }

        input {
            position: relative;
            z-index: 20;

            width: 100%;
            margin-bottom: 65px;
            padding: 10px;

            font-size: 24px;
            line-height: 28px;

            color: #333333;

            background: transparent;
            border: none;
            border-bottom: 1px solid #999;
            outline: none;

            @include sm-block() {
                font-size: 16px;
            }
        }
    }

    &__label--top {
        top: -20px !important;
        font-size: 16px !important;
    }

    &--hidden {
        display: none;
    }
}
